*{
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2b2733;
    overflow-wrap: normal;

}

body, .quot-input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}

span {
    color: gray;
}

.container {
    background-color: #353535;
    padding: 1rem;
    border-radius: .5rem;
    width: 1000px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    text-decoration: underline;}

.timer {
    position: absolute;
    top: 3rem;
    font-size: 3rem;
    color: #F0DB4F;
    font-weight: bold;

}

.quote-display{
    margin-bottom: 1rem;    
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);

}

.quote-input {
    background-color: transparent;
    border: 2px solid #A1922E;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 20px;
    border-radius: .5rem;
}

.quote-input:focus {
    border-color: black;
}

.correct {
    color: green;
    text-decoration: underline;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

.nll{
    color:  #353535;
}